td {
  background-color: darkblue;
  border-color: white;
  border-style:solid;
  border-width: 1px;
  height: 55px;
  width: 55px;
  color: white;
}
/*
.shipSquare {
}*/

.hitSquare {
  background-color: red;
}

.clickedSquare {
  background-color: yellow;
}


.shipSquareRevealed {
  background-color: green;
}
